apiVersion: apps/v1
kind: Deployment
metadata:
  name: v1-deployment
  labels:
    app: app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: v1
  template:
    metadata:
      labels:
        app: v1
        role: web
    spec:
      containers:
      - name: v1
        image: dakshsawhneyy/helloworld-v1:latest
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"