apiVersion: apps/v1
kind: Deployment
metadata:
  name: v2-deployment
  labels:
    app: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: v2
  template:
    metadata:
      labels:
        app: v2
        role: web
    spec:
      containers:
      - name: v2
        image: dakshsawhneyy/helloworld-v2:latest
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"